<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
The goal of the R/Medicine conference is to promote the use of the R
programming environment and the R ecosystem in medical research and
clinical practice. R, the open source language for statistical
computing and data visualization, has also become an effective tool for
enabling reproducible research and the communication of scientific knowledge.
In addition to showcasing novel tools, algorithms and
methods for analyzing medical and clinical data. We hope the conference
will provide a forum for collaboration within the community.
</p>

<p>
Conference talks will address the use of R in medical applications from
Phase I clinical trial design through the analysis of the efficacy of medical
therapies in public use.
Topic areas for R/Medicine include: clinical trial design, the analysis of
clinical trial data, personalized medicine, the analysis of patient records,
the analysis of genetic data, the visualization of medical data, and
reproducible research.
</p>

<p>Note that topics related to drug discovery and PK/PD modeling will
likely be the focus of the upcoming R/Pharma conference.</p>



