<h2 class="section-title">{{ .titles.committee }}</h2>

<p>
<ul class="keynotes-list">
  <li> <h3 class="speakers-name">Beth Atkinson, The Mayo Clinic </h3></li>
  <li> <h3 class="speakers-name">Denise Esserman, Yale University (Program Chair)</h3></li>
  <li> <h3 class="speakers-name">Michael Kane, Yale University (Conference Chair)</h3></li>
  <li> <h3 class="speakers-name">Balasubramanian Narasimhan (Naras), Stanford University</h3></li>
  <li> <h3 class="speakers-name">Joseph Rickert, RStudio</h3></li>
  <li> <h3 class="speakers-name">Hongyu Zhao, Yale University</h3></li>
</ul>
</p>

