<h2 class="section-title">{{ .titles.contact }}</h2>

<p>Questions, comments, and concerns may be directed
to <a href="mailto:r-medicine@protonmail.com">r-medicine@protonmail.com</a></p>

<p>R / Medicine is dedicated to providing a harassment-free conference
experience for everyone regardless of gender, sexual orientation,
disability or any feature that distinguishes human beings. For more
information, please see
the <a href="https://wiki.r-consortium.org/view/R_Consortium_and_the_R_Community_Code_of_Conduct">R
Consortium code of conduct.</a></p>


