<h2 class="section-title">{{ .titles.sponsors }}</h2>

<br/>

<p>If you are interested in sponsoring the conference, you may either
contact us
at <a href="mailto:r-medicine@protonmail.com">r-medicine@protonmail.com</a>
or you can register as a sponsor using
the <a href="http://www.cvent.com/events/r-medicine-2018/event-summary-a6a3cda221d54495abe9711a2c33ca60.aspx">Registration
link</a>. Sponsorship price is $4,000 and includes two tickets to the
conference, a table at the conference furnished with 2 chairs and
power setup in a location that will attract attended traffic, and your
corporate logo listed on the conference website and conference
program.
</p>

<!--
<h4>R / Medicine Sponsorship Package</h4>
<br/>
<li>
  <b>Sponsorship price: $4,000</b>
</li>
<br/><br/>

<h4>R / Medicine Sponsors receive the following benefits:</h4>
    <li>One full ticket to the conference</li>
    <li> table at the conference furnished with 2 chairs and power setup in a location that will attract attended          traffic</li>
    <li>Their corporate logo listed on the conference website and conference program</li>
    <li>The option to have their names associated with one of the scheduled listed below. Sponsors may choose any event     from the list that is still available when they commit</li>
<br/>
<br/>
<h4>List of scheduled social events:</h4>
    <li>Day 1 Conference Reception</li>
    <li>After Conference Drinks</li>
    <li>The pre-conference speakers dinner</li>
    <li>Breakfast Day 1</li>
    <li>Breakfast Day 2</li>
    <li>Break Day 1</li>
    <li>Break Day 2</li>
    <li>Lunch Day 1</li>
    <li>Lunch Day 2</li>
-->
